<div class="row">
   <div class="col-md-8">
     <h1>
          <%= @wiki.title %> <br>
          <small>
            submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.email %>
          </small>
        </h1>
 <p><%= @wiki.body %></p>
 <div class="col-md-4">
   <%= current_user.role %>
   <% if current_user.role == 'admin' || current_user.role == 'premium' %>
     <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
     <%= link_to "Delete Post", [@wiki], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
   <%end%>
</div>
