<%if current_user.standard? %>
  <h1>Upgrade your account</h1>
  <div class="container">
  <%= form_tag charges_path do %>
      <h3> For only $15 you can upgrade to a premium account<h3>
      <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% end %>
  </div>
<%else%>
  <h1>Downgrade your account</h1>
  <div class="container">
      <h4> Downgrade to a standard account?<h4>
      <%= link_to "Downgrade", downgrade_path, class: 'btn btn-danger', data: { confirm: 'Are you for realz?' } %>
  </div>
<% end %>
